<section class="feature-cards">
  <h2>سقفینو چطور به خانه‌دار شدن شما کمک می‌کند</h2>
  <div class="feature-cards__item-container">
    <div class="feature-card">
      <img src="./assets/images/Illustration.png" alt="" />
      <h3>به آسانی یک خانه اجاره کنید</h3>
      <p>
        در میان صدها آگهی که روزانه به وب‌سایت سقفینو افزوده می‌شود، با استفاده
        از بیش از ۲۸ فیلتر کاربردی تلاش کرده‌ایم خانه‌ای که در جست‌وجوی آن هستید
        را هر چه سریعتر پیدا و اجاره کنید.
      </p>
      <button class="btn btn--primary btn--block">اجاره خانه</button>
    </div>
    <div class="feature-card">
      <img src="./assets/images/illustration_search.png" alt="" />
      <h3>خانه مورد علاقه‌تان را بخرید</h3>
      <p>
        بالای ۱ میلیون آگهی فروش در وب‌سایت سقفینو وجود دارد. ما علاوه بر
        آگهی‌های فراوان با به‌کارگیری املاک و مشاورین متخصص در هر شهر، تلاش
        می‌کنیم در تجربه لذت یک خرید آسان با شما سهیم باشد.
      </p>
      <button class="btn btn--primary btn--block">اجاره خانه</button>
    </div>
    <div class="feature-card">
      <img src="./assets/images/Illustration_owner.png" alt="" />
      <h3>مالک هستید؟</h3>
      <p>
        آیا می‌دانید میانگین بازدید از وب‌سایت به‌طور متوسط روزانه بالای هزاران
        نفر است؟ پس به‌سادگی و با چند کلیک ساده، ملک‌تان را به‌صورت رایگان در
        سقفینو آگهی و در سریع‌ترین زمان ممکن معامله کنید.
      </p>
      <button class="btn btn--primary btn--block">اجاره خانه</button>
    </div>
  </div>
</section>
