<section class="hero">
  <div class="hero__info">
    <header class="hero__info--header">
      <h1>سقفینو؛ سقفی برای همه</h1>
      <h2>آسانی و سرعت در پیدا کردن یک سقف تازه را در سقفینو تجربه کنید</h2>
    </header>
    <div class="search-box">
      <div class="search-box__bottons">
        <a href="#"> اجاره </a>
        <a href="#"> خرید </a>
      </div>
      <div class="search-box__input">
        <img src="/assets/icons/search-normal.svg" alt="" />
        <input placeholder="شهر مورد نظر را جست‌وجو کنید" />
      </div>
    </div>
  </div>
</section>
