<section class="news">
  <h2>آخرین اخبار املاک را از سقفینو دنبال کنید</h2>
  <div class="news__cards">
    <div class="news__card">
      <img src="./assets/images/news_1.png" alt="" />
      <p>
        رکود بازار مسکن؛ فروشندگان در انتظار خریداران و خریداران در انتظار شکست
        نرخ فروشندگان
      </p>
    </div>
    <div class="news__card">
      <img src="./assets/images/news_2.png" alt="" />
      <p>
        رکود بازار مسکن؛ فروشندگان در انتظار خریداران و خریداران در انتظار شکست
        نرخ فروشندگان
      </p>
    </div>
    <div class="news__card">
      <img src="./assets/images/news_3.png" alt="" />
      <p>
        رکود بازار مسکن؛ فروشندگان در انتظار خریداران و خریداران در انتظار شکست
        نرخ فروشندگان
      </p>
    </div>
    <div class="news__card">
      <img src="./assets/images/news_4.png" alt="" />
      <p>
        رکود بازار مسکن؛ فروشندگان در انتظار خریداران و خریداران در انتظار شکست
        نرخ فروشندگان
      </p>
    </div>
    <div class="news__card">
      <img src="./assets/images/news_5.png" alt="" />
      <p>
        رکود بازار مسکن؛ فروشندگان در انتظار خریداران و خریداران در انتظار شکست
        نرخ فروشندگان
      </p>
    </div>
  </div>
</section>
