<section class="services">
  <h2>همه به شما مشاوره می‌دهند!</h2>
  <h3>اما در سقفینو مشاوران املاک کِنار شما می‌مانند</h3>
  <div class="services__items-container">
    <div class="services__item">
      <img src="./assets/images/location.png" alt="" />
      <p>امکان خرید و اجاره ملک در اکثر نقاط کشور</p>
    </div>
    <div class="services__item">
      <img src="./assets/images/Work time-pana 2.png" alt="" />
      <p>امکان خرید و اجاره ملک در اکثر نقاط کشور</p>
    </div>
    <div class="services__item">
      <img src="./assets/images/Photo.png" alt="" />
      <p>امکان خرید و اجاره ملک در اکثر نقاط کشور</p>
    </div>
  </div>
</section>
