<section class="types-cards">
  <h2>سقفینو چطور به خانه‌دار شدن شما کمک می‌کند</h2>
  <div class="types-cards__item-container">
    <div class="types-card">
      <div class="types-card__image">
        <img src="./assets/images/home_1.png" alt="" />
      </div>
      <span class="types-card__price"> 28.900 </span>
      <span class="types-card__kinds"> خانه مسکونی </span>
    </div>
    <div class="types-card">
      <div class="types-card__image">
        <img src="./assets/images/home_2.png" alt="" />
      </div>
      <span class="types-card__price"> 28.900 </span>
      <span class="types-card__kinds"> خانه مسکونی </span>
    </div>
    <div class="types-card">
      <div class="types-card__image">
        <img src="./assets/images/home_3.png" alt="" />
      </div>
      <span class="types-card__price"> 28.900 </span>
      <span class="types-card__kinds"> خانه مسکونی </span>
    </div>
    <div class="types-card">
      <div class="types-card__image">
        <img src="./assets/images/home_4.png" alt="" />
      </div>
      <span class="types-card__price"> 28.900 </span>
      <span class="types-card__kinds"> خانه مسکونی </span>
    </div>
  </div>
</section>
